// list reset
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// transition
%transition {
  transition: all .3s ease-in-out;
}

// circle
%circle{
  border-radius: 50%;
}

// responsive image
%responsive-image {
  width: 100%;
  height: auto;
}

