// Colors
//$pink: #FF699F;
$black: #000;
$dark: #495057;
$white: #fff;
$blue: #007bff;
$violet: #6f42c1;
$gray: rgba(161, 161, 163, 0.31);
$red-danger: #c82333;
//$dark-background: #1F1F1F;
//$white: #fff;
//
////Fonts
$base-font: "Montserrat", sans-serif;
//$secondary-font: "Roboto", sans-serif;
//
////Media queries
$breakpoint-mobile: 576px;
$breakpoint-tablet: 992px;
$breakpoint-desktop: 1200px;
//
////Font-size
$h1-desktop: 72px !default;
$h2-desktop: 36px !default;
$h3-desktop: 24px !default;
$h4-desktop: 24px !default;
$p-desktop: 16px !default;
$low-description-desktop: 16px !default;
$logo-desktop: 18px !default;
//
$h1-mobile: 36px !default;
$h2-mobile: 24px !default;
$h3-mobile: 14px !default;
$h4-mobile: 18px !default;
$p-mobile: 14px !default;
$low-description-mobile: 13px !default;
